body{background-color: #374151;}

@media only screen and (max-width: 600px) {
body{
    width: 100%;
}
#heading{
    transform: scale(0.5);
    translate: -210px -13px;
}
    #mainbox{
    transform: scale(0.5);
    translate: -160px 30px;
    margin-top: -38px;
    
}
}
