body{background-color: #374151;}

@media only screen and (max-width: 600px) {
body{
    width: 100%;
}
#heading{
    transform: scale(0.78);
    translate: -130px -10px;
}
    #mainbox{
    transform: scale(0.75);
    translate: -100px 50px;
    margin-top: -38px;
    margin-bottom: 20px;
    
}

#showbox{
    translate: -694px;
    z-index: 1;
}
}
